/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
    --back:#00A9D4;
}

/* Reset  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}

.container{
    display: flex;
    width:100%;
    padding:o 15px;
    margin:0 auto;
    
}

@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

  header.topbar{
      
    background:var(--secondary);
    color:var(--pure);
    font-family:"Raleway-bold";
    padding:0.75rem 0;   
}


header.topbar .right a{
    color: var(--pure) ;
    display: block;
	background: var(--back);
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	width: 200px;
	border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

header.topbar .right a:hover{
    background: #00729D;
}


.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.item-end{
    align-items:flex-end ;
}

header.hero{
    padding: 4rem 0;
    align-items: center;
}

header.hero .mypic img{
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

header.hero{
    background-repeat: no-repeat;
    background-image: url(../images/background.svg);
    height: 450px;
    background-position: 0% 0%;
    overflow:hidden;
}