/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
    --back:#00A9D4;
}

/* Reset  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}

.container{
    display: flex;
    padding:o 15px;
    margin:0 auto;
    
}

/* @media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  } */

  header.topbar{
    flex: 1; 
    background:var(--secondary);
    color:var(--pure);
    font-family:"Raleway-bold";
    padding:0.75rem 0;   
}

header.topbar .left h1{
    color:var(--primary);
}


header.topbar .right a{
    color: var(--pure) ;
    display: block;
	background: var(--back);
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	width: 200px;
	border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

header.topbar .right a:hover{
    background: #00729D;
}


.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.item-end{
    align-items:flex-end ;
}

header.hero{
    padding: 4rem 0;
    color:var(--heaven);
    word-spacing: 7px;
    font-family: "Raleway-semibold";
    background-repeat: no-repeat;
    background-image: url(../images/background_main.jpg);
    height: 400px;
    background-position: 0% 0%;
    overflow:hidden;
    justify-content: flex-start;
}


.education{
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: var(--light);
}

.education .education-heading{
    text-align: center;
    color: blueviolet;
    font-family: "raleway-bold";
}

.education .data{

        border-collapse: collapse;
        width: 100%;
        border: 1px var(--secondary) #ddd;
        padding: 8px;

}

.education hr{
    margin: 2rem;
    border-top: 3px solid black;
}


.education .data td,th{
    border: 2px solid #ddd;
    padding: 8px;
}

.education .data th {
    font-family:"Raleway-semibold" ;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .education .data td {
    font-family:"Raleway-medium" ;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color:white;
    color:black;
  }

.project{
    padding: 4rem 0;
    word-spacing: 7px;
    font-family: "Raleway-semibold";
    background-repeat: no-repeat;
    background-image: url(../images/project_background.jpg);
    height: 600px;
    background-position: 0% 0%;
    overflow:hidden;
    justify-content: center;
}

.project .project-heading{
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    color: blueviolet;
    font-family: "raleway-bold";
}

.project hr{
    margin: 2rem;
    border-top: 3px solid yellow;
}


.project .project-data{
    width: 350px;
    height: 400px;
    background-color: wheat;
    border: 3px solid black;
}

.project .project-data .pro-img{
    margin-left: 5rem;
    padding: 2rem;
    height: 2rem;
    width: 2rem;
}

.project .container .project-data .pro-data{
    padding: 7rem;
}